@charset "utf-8";
/* CSS Document */
#agregar_producto label{
    text-align: right;
    width: 120px;
    padding-right: 10px;
}
#agregar_producto input, #agregar_producto textarea, #agregar_producto select{
    display: inline-block;
    width: 250px;
    margin-bottom: 10px;
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-top: 2px solid #ddd;
}
#agregar_producto select {
    width: 263px;
}
#agregar_producto input#mc_guardar, #agregar_producto input#mc_cancelar {
    width: 110px;
    border: none;    
    display: inline-block;
    float: none;
}